<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercadoliebre</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
    <header>
          <span id="encabezado">

            <img id="logo" src="img/logo-mercado-liebre.svg">   
            <form class="example" action="action_page.php">
                <input type="text" placeholder="Buscar productos, marcas" name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
       
            <h3 class="titulares"> <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h3>
            </span>
    
        <i  class="fas fa-bars"></i>
   
    <nav id="menu-header">
        <ul id="menu-izq">
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
        </ul>
        <ul id="menu-der">
            <li>Creá tu cuenta <i class="far fa-id-card"></i></li> 
            <li>Ingresá <i class="fas fa-sign-in-alt"></i></li> 
            <li>Mis compras <i class="fas fa-shopping-basket"></i></li> 
        </ul>
        
    </nav>
       
    </header>
  
    <img id="banner" src="img/img-home-banner.jpg">

    <main>
        
            <h3 class="titulares">Basado en tu última visita</h3>
           
           <div id="todos-productos">

            <section class="producto">
                                      
                <div class="foto-producto">
                <img src="img/img-tv-samsung-smart.jpg">
            </div>        
                                <div class="texto-producto">
                                       <p class="precios">$50.000</p>
                                       <p class="descuentos">15% de descuento</p>
                                    
                                       <p class="descripciones">Tv Samsung Smart</p>
                                       <span id="camion"><i class="fas fa-truck"></i></span>
                                    </div>
            </section>  
            <section class="producto">
                <div class="foto-producto">
                                   <img src="img/img-macbook-pro-2019.jpg">
                                </div>
                                <div class="texto-producto">
                                   <p class="precios">$145.000</p>
                                   <p class="descuentos">10% de descuento</p>
                                   <p class="descripciones">Macbook Pro</p>
                                   <span id="camion"><i class="fas fa-truck"></i></span>
                                </div>
        </section>  
        </div>
            <h3 class="titulares">Sección de Ofertas</h3>

            <div id="todos-productos">
            
            
            <section class="producto">
                <div class="foto-producto">
                                        <img src="img/img-cafetera-moulinex.jpg">
                                    </div>
                                    <div class="texto-producto">
                                        <p class="precios">$6770</p>
                                        <p class="descuentos">40% de descuento</p>
                                        <p class="descripciones">Cafetera Moulinex</p>
                                        <span id="camion"><i class="fas fa-truck"></i></span>
                                    </div>
            </section>  
            <section class="producto">
                <div class="foto-producto">
                                        <img src="img/img-samsung-galaxy-s10.jpg">
                                    </div>
                                    <div class="texto-producto">
                                        <p class="precios">$70.500</p>
                                        <p class="descuentos">10% de descuento</p>
                                        <p class="descripciones">Teléfono Samsung</p>
                                        <span id="camion"><i class="fas fa-truck"></i></span>
                                    </div>
            </section>
        </div>          
    </main>

    <footer>
            <div id="tarjeta-footer">
            <i class="fas fa-credit-card"></i>
            <h3 class="titulosFooter">Pagá con tarjeta o efectivo</h3>
            <p class="cuerposFooter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div id="envio-footer">
            <i class="fas fa-gift"></i>
            <h3 class="titulosFooter">Envío gratis desde $ 2.500</h3>
            <p class="cuerposFooter">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div id="seguridad-footer">
            <i class="fas fa-user-shield"></i>
            <h3 class="titulosFooter">Seguridad, de principio a fin</h3>
            <p class="cuerposFooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        
            <h5 class="cuerposFooter">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
            </div>
    </footer>
</body>
</html>