<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mercadoliebre</title>

        
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       
            
        <link rel="stylesheet" href="css/styles.css">      
        
        
    </head>
<body>
    <header>
        <span id="encabezado">

        

            <a href="/">   <img id="logo" src="img/logo-mercado-liebre.svg">   </a>
          <form class="example" action="action_page.php">
              <input type="text" placeholder="Buscar productos, marcas" name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
     
          <h3 class="titulares"> <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h3>
          </span>

          <i class="fas fa-bars"></i>
  
  <nav id="menu-header">
      <ul id="menu-izq">
          <li>Ofertas</li>
          <li>Tiendas Oficiales</li>
          <li>Vender</li>
          <li>Ayuda</li>
      </ul>
      <ul id="menu-der">
        <li><a href="/register.hmtl">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
        <li><a href="/login.html">Ingresá<i class="fas fa-sign-in-alt"></i></a></li> 
        <li>Mis compras <i class="fas fa-shopping-basket"></i></li> 
    </ul>
      
  </nav>
     
  </header>


<main>
<div id="cajaformulario">

    <form id="formulario-login">
            

        <div class="itemformu">
            <label for="usuario"></label>
            <input type="text" name="usuario" placeholder="Usuari@">
            </div>
            <br>
    
           
        <div id="itemformu">
             <label for="clave"></label>
             <input type="password" name="clave" placeholder="Contraseña">
             </div>
             <br>
        
              
        <button type="submit" class="botones">Ingresar</button>
       
        </form>
    </div>
    </main>


    <footer>
        <div id="tarjeta-footer">
        <i class="fas fa-credit-card"></i>
        <h3 class="titulosFooter">Pagá con tarjeta o efectivo</h3>
        <p class="cuerposFooter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </div>
    <div id="envio-footer">
        <i class="fas fa-gift"></i>
        <h3 class="titulosFooter">Envío gratis desde $ 2.500</h3>
        <p class="cuerposFooter">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </div>
    <div id="seguridad-footer">
        <i class="fas fa-user-shield"></i>
        <h3 class="titulosFooter">Seguridad, de principio a fin</h3>
        <p class="cuerposFooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    
        <h5 class="cuerposFooter">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </div>
</footer>
</body>
</html>